<div class="row mb-5">
    <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='useripo'">
           <div class="card-body">
               <h4 class="card-title display-4">User IPO</h4>
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='companyrelatedata'">
           <div class="card-body">
               <h4 class="card-title display-4">Company Data</h4>
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='stockexchange'">
           <div class="card-body">
               <h4 class="card-title display-4">Stock Exchange</h4>
           </div>
       </div>
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='stockprice'">
           <div class="card-body">
               <h4 class="card-title display-4">Stock Price</h4>
           </div>
       </div>
   </div>
  
   
</div>

