<header style="color: rgb(21, 37, 54);" class="text-center"><h2>Stock Market Charting</h2></header>
    <div class="jumbotron jumbotron-fluid">
        <h2 class="text-center">StockExchange</h2>
        <div class="container">
            <form class=" w-50 container" [formGroup]="registerUser"  (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="number" class="form-control " name="id" formControlName="id"
                    placeholder="Enter Id with max 5 digits">
                </div>
                <div class="form-group">
                        <label for="stockexchange">StockExchange</label>
                        <input type="number" class="form-control " name="stockexchange" formControlName="stockexchange"
                        placeholder="EnterStock Exchange">
                    </div>
                    <div class="form-group">
                        <label for="brief">Brief Description</label>
                        <input type="text" class="form-control " name="brief" formControlName="brief"
                        placeholder="Enter Message">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control " name="address" formControlName="address"
                        placeholder="Enter contact address">
                    </div>
                    <div class="form-group">
                        <label for="remarks">Remarks</label>
                        <input type="text" class="form-control " name="remarks" formControlName="remarks"
                        placeholder="Enter remarks">
                    </div>
                    <div class="form-group">
                    <button class="btn btn-success" (click)="addUser()" [disabled]="!registerUser.valid">AddUser</button>
                             
                             <button type="reset" onsubmit="onSubmit()" class="btn  btn-success px-5 mx-3">reset</button>       
                    </div>
                    
                </form>
        </div>
        </div>
