<div class="row mb-5">
    <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='import'">
           <div class="card-body">
               <h4 class="card-title display-4">Import Data</h4>
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='addnewcompany'">
           <div class="card-body">
               <h4 class="card-title display-4">Add Company</h4>
           </div>
       </div>
       
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='deletecompany'">
            <div class="card-body"> 
               <h4 class="card-title display-4">Delete company</h4>
           </div>
       </div>
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='updatecompany'">
           <div class="card-body">
               <h4 class="card-title display-4">Update company</h4>
           </div>
       </div>
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='stockexchange'">
           <div class="card-body">
               <h4 class="card-title display-4">Stock Exchange</h4>
           </div>
       </div>
   </div>
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='updateipo'">
           <div class="card-body">
               <h4 class="card-title display-4">Update IPO</h4>
           </div>
       </div>
   </div>
</div>



