<div class="topnav">
  <div class="logo">
  <img src="logo.jpg">
  <div class="login-container">
    <form action="admin.html">
	<label for="ADMIN"><b>Admin Login :</b></label><br>
      <input type="text" placeholder="Username" name="username">
      <input type="text" placeholder="Password" name="psw">
      <button type="submit" >Login</button>
    </form>
  </div>
  </div>
  <a class="active" href="#home">Home</a>
  <a routerLink="register">Register</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<router-outlet></router-outlet>