

<!-- <h2>{{user.name | uppercase}}</h2>



    <div class="container body-content app-container">
    
        <div>
    <input type="text" [(ngModel)]="user.name"
    class="form-control">
    </div>
    <div>
      <button class="btn btn-primary" (click)="callme()">callme</button>
    
    </div>
    <div>
    {{user.name}}
    </div>
    
   -->
   <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form>
          <div id="user-data">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control">
            </div>
            <button class="btn btn-default" type="button">Suggest an Username</button>
            <div class="form-group">
              <label for="email">Mail</label>
              <input type="email" id="email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="secret">Secret Questions</label>
            <select id="secret" class="form-control">
              <option value="pet">Your first Pet?</option>
              <option value="teacher">Your first teacher?</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control">
          </div>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                [value]="gender">{{ gender }}
            </label>
          </div>
          <button class="btn btn-primary" type="submit" onclick ="sendinfo">Submit</button>
        </form>
      </div>
      </div>
 -->

      <!-- <input type="email" 
 id="email" 
 class="form-control"
 ngModel
 name="email">

 <app-home></app-home> -->







