
    <table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>EMAIL</td>
        <td>PHONE</td>
        <td>Password</td>
        <td>Re-Enter Password</td>
        <td>Deletion</td>
        <td>Updation</td>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.password}}</td>
        <td>{{user.repassword}}</td>
        <td><button class="btn btn-success" (click)="deleteUser(user)">Delete</button></td>
        <td><button class="btn btn-warning" (click)="updateUser(user)">Update</button></td>
    </tr>
</table>

