<div class="col-md-6">
    <h2 class="text-center text-white">Add User</h2>
    <form [formGroup]="registerUser" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="number" formControlName="id" placeholder="UserId" name="id" class="form-control" id="Id">
         <div *ngIf="submitted && addForm.controls.id.errors" class="error" >
            <div *ngIf="addForm.controls.id.errors.required">User Id is required</div>
          </div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="username" placeholder="User Name" name="username" class="form-control" id="username">
      <!-- <div *ngIf="submitted && addForm.controls.courseName.errors" class="error" >
            <div *ngIf="addForm.controls.courseName.errors.required">User Name is required</div>
          </div> -->
      </div>
       <div class="form-group">
        <input type="email" formControlName="email" placeholder="name@gmail.com" name="email" class="form-control" id="email">
        <!-- <div *ngIf="submitted && addForm.controls.courseDuration.errors" class="error" >
            <div *ngIf="addForm.controls.courseDuration.errors.required">Course Duration is required</div>
          </div> -->
      </div>
       <div class="form-group">
        <input type="number" formControlName="phone" placeholder="phone no" name="phone" class="form-control" id="phone">
        <!-- <div *ngIf="submitted && addForm.controls.courseEligibility.errors" class="error" >
            <div *ngIf="addForm.controls.courseEligibility.errors.required">Course Eligibility is required</div>
          </div> -->
      </div>
      <!-- <div class="form-group">
        <input type="text" formControlName="courseFee" placeholder="Course Fee" name="courseFee" class="form-control" id="courseFee">
       <div *ngIf="submitted && addForm.controls.courseFee.errors" class="error" >
            <div *ngIf="addForm.controls.courseFee.errors.required">Course Fee is required</div>
          </div>
      </div> -->
      <button class="btn btn-success" (click)="updateUser()" [disabled]="!updateUser.valid">Update User</button>
    </form>
  </div>



