<!-- <p>users works!</p> -->
<table border="2">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
            <td><button class="btn btn-primary" (click)="updateUser(user)">Update</button>
               
            
    </tr>
</table>
