<p class="h4 text-center">Compare Companies</p>
<form class="p-2 p-md-5 jumbotron shadow" [formGroup]="compareCompany">
    <div class="form-group">
        <label for="selectCompany1">Select Company:</label>
        <select name="selectCompany1" class="form-control" formControlName="selectCompany1">
            <option *ngFor="let company of companies" value={{company.id}}>{{comp.companyname}}</option>
        </select>
        <small class="text-muted">select the company</small>
    </div>
    <div class="form-group">
        <label for="selectCompany2">Select Company:</label>
        <select name="selectCompany2" class="form-control" formControlName="selectCompany2">
            <option *ngFor="let company of companies" value={{company.id}}>{{company.companyname}}</option>
        </select>
        <small class="text-muted">select the company</small>
    </div>
    <div class="row justify-content-center">
        <input type="submit" (click)="compareCompanies()" value="Compare" class="btn btn-info mx-1 px-1 px-md-5">
        <input type="submit" value="Generate Maps" class="btn btn-success mx-1 px-1 px-md-5">
    </div>
</form>











